.container1{
    display: grid;
    grid-template-columns: auto auto ;
    height: 100%;
}
.info{
    font-size: 25px;
    
}
.img1{
    width: 260px;
    height: 260px;
    border-radius: 50px;
}
.info1{
    padding-left: 50px;
    padding-top:50px;
}
